<div class="container my-5">
  <div class="h4 pb-2 mb-4 border-bottom border-secondary">
    Edit your Post
  </div>
  <%= render "layouts/errors", obj: @post %>
  <%= form_with model: @post do |f| %>
    <div class="form-group col-4">
      <label>Title</label>
      <%= f.text_field :title, autofocus: true, placeholder:"Name your riff", class:"form-control" %>
    </div>
    <div class="form-group col-4">
      <label>Body</label>
    <%= f.text_area :body, placeholder:"Describe your riff", class:"form-control" %>
    </div>
    <div class="form-group col-4">
      <label>Image</label>
      <%= f.file_field :image,  accept: "image/*", class:"form-control-file" %>
    </div>
    <div class="form-group col-4">
      <label>Tag</label>
      <%= f.text_field :name, class: "form-control", value: @tag_list %>
    </div>
    <div class="col-10">
      <button type="submit" class="btn btn-sm btn-success">Save changes</button>
      <%= link_to "Delete", post_path(@post), method: :delete, ,data: {confirm: "削除しますか？"}, class:"btn btn-sm btn-danger col-1" %>
    </div>
  <% end %>
</div>