<div class = "container my-5">
  <div class = "row">
    <div class="col-5">
      <%= image_tag @post.get_image(400, 400) %>

    </div>

    <div class = "col-7">
      <table class="table">
        <tbody>
          <tr>
            <th>Title</th>
            <th><%= @post.title %></th>
          </tr>
          <tr>
            <th></th>
            <th><%= audio_tag url_for(@post.music), controls: true %></th>
          </tr>
          <tr>
            <th>Body</th>
            <th><%= @post.body %></th>
          </tr>
          <tr>
            <th>Creater</th>
            <th>
              <%= link_to user_path(@post.user.id) do %>
                <%= image_tag @post.user.get_image(50, 50) %>
                <%= @post.user.name %>
              <% end %>
            </th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

