<div class="container">
  <div class="h4 pb-2 mb-4 border-bottom border-secondary col-2">
    All talk rooms
  </div>
  <% @another_entries.each do |entry| %>
    <div class="row col-8 py-1 border-bottom">
      <div class="col-7 align-middle">
        <%= link_to room_path(entry.room) do %>
          <%= image_tag entry.user.get_image(50, 50) %>
          <strong><%= entry.user.name %></strong>
        <% end %>
      </div>
      <div class="col-2 align-middle">
        <%= link_to room_path(entry.room) do %>
          <button type="button" class="btn btn-success"><i class="fa-solid fa-comment-dots"></i>  Chat</button>
        <% end %>
      </div>
      <div class="col-3 align-middle">
        <% if current_user.following?(entry.user) %>
          <%= link_to user_relationships_path(entry.user.id), method: :delete do %>
            <button type="button" class="btn btn-info"><i class="fa-solid fa-user-minus"></i> Unfollow</button>
          <% end %>
        <% else %>
          <%= link_to user_relationships_path(entry.user.id), method: :post do %>
            <button type="button" class="btn btn-primary"><i class="fa-solid fa-user-plus"></i> Follow</button>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="mx-auto">
    <%= paginate @another_entries %>
  </div>
</div>