<div class="container">
  <div class="row">
    <h2><%= @another_entry.user.name %>さんとのトークルーム</h2>
    <%= link_to "ユーザー一覧に戻る", users_path %>
    <% @messages.each do |m| %>
      <% m.user_id == m.user.id  %>
      <p><%= m.user.name %></p>
      <p><%= m.body %></p>
    <% end %>

    <%= form_with model: @message do |f| %>
      <%= f.text_field :body, placeholder: "Add your message." , size: 50, class:"form-text-field" %>
      <%= f.hidden_field :room_id, value: @room.id %>
      <%= f.submit "Send",class: 'form-submit'%>
    <% end %>
  </div>
</div>