<div class = "container">
  <div class="h4 pb-2 mb-4 border-bottom border-secondary col-2">
    Search for <%=@keyword %>
  </div>
  <div class = "h5 mb-4 col-2">
    User
  </div>
  <% if @users.present? %>
    <div class = "row">
      <table class = "table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <tr>
            <td>
              <%= link_to admin_user_path(user.id) do %>
                <%= image_tag user.get_image(50, 50) %>
                <%= user.name %>
              <% end %>
            </td>
            <td><%= user.email %></td>
            <td>
              <%= link_to "Edit", edit_admin_user_path(user), class: "btn btn-sm btn-success" %>
              <%= link_to "Delete", admin_user_path(user), method: :delete, class: "btn btn-sm btn-danger" %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
  <div class="row">
      <div class="h5 col-5 text-muted">
        The user does not exist
      </div>
    </div>
  <% end %>
  <div class = "h5 mb-4 col-2">
    Post
  </div>
  <% if @posts.present? %>
    <div class = "row">
      <table class = "table">
        <thead>
          <tr>
            <th>Title</th>
            <th></th>
            <th>Creater</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @posts.each do |post| %>
          <tr>
            <td class="align-middle"><%= link_to admin_post_path(post.id) do %>
                  <%= image_tag post.get_image(50, 50) %>
                  <%= post.title %>
                <% end %>
            </td>
            <td class="align-middle"><%= audio_tag url_for(post.music), controls: true %>
            </td>
            <td class="align-middle">
              <%= link_to admin_user_path(post.user.id) do %>
                <%= image_tag post.user.get_image(50, 50) %>
                <%= post.user.name %>
              <% end %>
            </td>
            <td class="align-middle">
              <i class="fa-regular fa-comment"></i>
              <%= post.comments.count %>
            </td>
            <td class="align-middle">
              <%= link_to "Edit", edit_admin_post_path(post),class:"btn btn-sm btn-success" %>
              <%= link_to "Delete", admin_post_path(post), method: :delete, class:"btn btn-sm btn-danger" %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
  <div class="row">
      <div class="h5 col-5 text-muted">
        The post does not exist
      </div>
    </div>
  <% end %>
</div>