<div class = "container">
  <div class="row">
    <div class="d-flex form-group">
      <form class ="form-inline">
        <%= form_with url: users_path, local: true, method: :get do |f| %>
          <%= f.text_field :word, placeholder:"Search by name", class: "form-control" %>
          <%= f.submit "検索", class: "btn btn-primary" %>
        <% end %>
      </form>
      <% if params[:word].present? %>
        <div class="d-flex col-2">
          <%= link_to "Clear", users_path, class: "btn btn-success" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class = "row">
    <table class = "table">
      <thead>
        <tr>
          <th>Name</th>
          <th>introduction</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
        <tr>
          <td>
            <%= link_to user_path(user.id) do %>
              <%= image_tag user.get_image(50, 50) %>
              <%= user.name %>
            <% end %>
          </td>
          <td>
            <%= user.introduction %>
          </td>
          <th>
            <%= user.posts.count %>posts
          </th>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
