<div class = "container my-5">
  <div class = "row">
    <div class="col-3">
      <%= image_tag @user.get_image(100, 100) %>
      <table class="table">
        <tbody>
          <tr>
            <th>Name</th>
            <th><%= @user.name %></th>
          </tr>
          <tr>
            <th>Introduction</th>
            <th><%= @user.introduction %></th>
          </tr>
          <tr>
            <th>
              <%= link_to user_followings_path(@user) do %>
                <%= @user.followings.count %> Follows
              <% end %>
            </th>
            <th>
              <%= link_to user_followers_path(@user) do %>
                <%= @user.followers.count %> Followed
              <% end %>
            </th>
          </tr>
          <% if @user.email != "guest@example.com" %>
            <tr>
              <th><%= link_to "編集", edit_user_path(@user), class:"btn btn-md btn-success" %></th>
              <th><%= link_to "退会", user_path(@user), method: :delete, class:"btn btn-md btn-danger" %></th>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class = "col-8 offset-1">
      <table class = "table">
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @posts.each do |post| %>
          <tr>
            <td class="align-middle"><%= image_tag post.get_image(50, 50) %></td>
            <td class="align-middle">
              <%= link_to post_path(post) do %>
                <%= post.title %>
              <% end %>
            </td>
            <td class="align-middle">
              <%= audio_tag url_for(post.music), controls: true %>
            </td>
            <td class="align-middle">
              <i class="fa-regular fa-comment"></i>
              <%= post.comments.count %>
              <div class=<%= "favorite-" + post.id.to_s %>>
                <%= render 'public/favorites/heart', post: post %>
              </div>
            </td>
            <td class="align-middle">
              <%= link_to "Edit", edit_post_path(post),class:"btn btn-sm btn-success" %>
              <%= link_to "Delete", post_path(post), method: :delete, class:"btn btn-sm btn-danger" %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

