<div class = "container my-5">
  <div class = "row">
    <div class="col-3">
      <%= image_tag @user.get_image(100, 100) %>
      <table class="table">
        <tbody>
          <tr>
            <th>Name</th>
            <th><%= @user.name %></th>
          </tr>
          <tr>
            <th>Introduction</th>
            <th><%= simple_format(h(@user.introduction)) %></th>
          </tr>
          <tr>
            <th>
              <%= link_to user_followings_path(@user) do %>
                <%= @user.followings.count %> Follows
              <% end %>
            </th>
            <th>
              <%= link_to user_followers_path(@user) do %>
                <%= @user.followers.count %> Followed
              <% end %>
            </th>
          </tr>
          <tr>
            <% if current_user != @user %>
              <th class="align-middle">
                <% if current_user.following?(@user) %>
                  <%= link_to user_relationships_path(@user.id), method: :delete do %> 
                    <button type="button" class="btn btn-info"><i class="fa-solid fa-user-minus"></i></button>
                  <% end %>
                <% else %>
                  <%= link_to user_relationships_path(@user.id), method: :post do %>
                    <button type="button" class="btn btn-primary"><i class="fa-solid fa-user-plus"></i></button>
                  <% end %>
                <% end %>
              </th>
              <th class="align-middle">
                <% if @is_room == true %>
                  <%= link_to room_path(@room_id) do %>
                    <button type="button" class="btn btn-success"><i class="fa-solid fa-comment-dots"></i></button>
                  <% end %>
                <% else %>
                  <%= form_with model: @room do |f| %>
                    <%= fields_for @entry do |e| %>
                      <%= e.hidden_field :user_id, value: @user.id %>
                    <% end %>
                    <button type="submit" class="btn btn-success">
                      <i class="fa-solid fa-comment-medical"></i>
                    </button>
                  <% end %>
                <% end %>
              </th>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>

    <div class = "col-8 offset-1">
      <table class = "table">
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @posts.each do |post| %>
          <tr>
            <td><%= image_tag post.get_image(50, 50) %></td>
            <td><%= post.title %></td>
            <td><%= audio_tag url_for(post.music), controls: true %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <div class="mx-auto">
        <%= paginate @posts %>
      </div>
    </div>
  </div>
</div>

