  <header class="shadow-sm">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <% if user_signed_in? %>
          <a class="navbar-brand p-3" href="/">
            <%= link_to posts_path do %>
              <%= image_tag "logo.jpg", size:'80x80'%>
            <% end %>
          </a>
        <% else %>
          <a class="navbar-brand p-3" href="/">
            <%= link_to root_path do %>
              <%= image_tag "logo.jpg", size:'80x80'%>
            <% end %>
          </a>
        <% end %>
        <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to "About", about_path, class:'nav-link text-dark' %>
            </li>
            <li class="nav-item">
              <%= link_to "My page", mypage_path, class:'nav-link text-dark' %>
            </li>
            <li>
              <%= link_to "Users", users_path, class:'nav-link text-dark' %>
            </li>
            <li>
              <%= link_to "Following", following_path, class:'nav-link text-dark' %>
            </li>
            <% if current_user.email != "guest@example.com" %>
              <li>
                <%= link_to "Chats", rooms_path, class:'nav-link text-dark' %>
              </li>
              <li class="nav-item">
                <%= link_to "Upload", new_post_path, class:'nav-link text-dark' %>
              </li>
            <% end %>
            <li class="nav-item">
              <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class:'nav-link text-dark' %>
            </li>
          <% elsif admin_signed_in? %>
            <li class="nav-item">
              <%= link_to "About", about_path, class:'nav-link text-dark' %>
            </li>
            <li>
              <%= link_to "Users", admin_users_path, class:'nav-link text-dark' %>
            </li>
            <li class="nav-item">
              <%= link_to "Posts", admin_posts_path, class:'nav-link text-dark' %>
            </li>
            <li class="nav-item">
              <%= link_to "Tags", admin_tags_path, class:'nav-link text-dark' %>
            </li>
            <li class="nav-item">
              <%= link_to "Sign Out", destroy_admin_session_path, method: :delete, class:'nav-link text-dark' %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "About", about_path, class:'nav-link text-dark' %>
            </li>
            <li class="nav-item">
              <%= link_to "Sign in", new_user_session_path, class:'nav-link text-dark' %>
            </li>
            <li class="nav-item">
              <%= link_to "Sign up", new_user_registration_path, class:'nav-link text-dark' %>
            </li>
            <li class="nav-item">
              <%= link_to "Guest in", users_guest_sign_in_path, method: :post, class:'nav-link text-dark' %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
  </header>
