<!DOCTYPE html>
<html>
  <head>
    <title>Riff</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/52b496e6c0.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render 'layouts/header' %>
    <main class="mx-auto">
      <div class='text-success mx-auto my-2 col-7'><%= flash[:notice] %></div>
      <div class='text-danger mx-auto my-2 col-7'><%= flash[:alert] %></div>
      <%= yield %>
    </main>

  </body>
</html>
